@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yantramanav";
}
/*Define variáveis de cor*/
:root {
  --fundo-primario: #121420;
  --fundo-secundario: #1b2432;
  --fundo-terciario: #25334b;
  --fundo-btn: #119da4;
  --brilho-hover: #09b944;
  --fundo-btn-hover: #08838a;
  --fundo-btn-active: #d7263d;
  --fonte-cor-clara: #fbfbfb;
  --fonte-cor-escura: #000000;
}
/*Animações*/
@keyframes change-color-tech {
  from {
    background-color: var(--fundo-terciario);
    filter: drop-shadow(0px 0px 0px var(--fundo-btn));
  }
  to {
    background-color: var(--fundo-btn-hover);
    filter: drop-shadow(0px 0px 10px var(--fundo-btn));
  }
}
@keyframes change-color-about-me {
  from {
    border-color: var(--fundo-btn);
    box-shadow: -10px 0px 15px -5px var(--fundo-btn);
  }
  to {
    border-color: var(--brilho-hover);
    box-shadow: -10px 0px 15px -5px var(--brilho-hover);
  }
}
/*Define estilos para elementos com fundo primário, secundário e terciário*/
.fundo-primario {
  background-color: var(--fundo-primario);
}
.fundo-secundario {
  background-color: var(--fundo-secundario);
}
.fundo-terciario {
  background-color: var(--fundo-terciario);
}
.btn {
  background-color: var(--fundo-btn);
  color: var(--fonte-cor-escura);
  transition: all 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.btn,
#foto-perfil {
  box-shadow: 5px 5px var(--fonte-cor-escura);
}
.btn:hover {
  background-color: var(--fundo-btn-hover);
}
.btn:active {
  background-color: var(--fundo-btn-active);
  color: var(--fonte-cor-clara);
}

.fonte-cor-clara {
  color: var(--fonte-cor-clara);
}
.fonte-cor-escura {
  color: var(--fonte-cor-escura);
}
.icone:hover {
  filter: drop-shadow(0px 0px 1px var(--fundo-btn));
}

.tech {
  background-color: var(--fundo-terciario);
  transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: change-color-tech linear;
  animation-timeline: view();
  animation-range: cover 0% cover 80%;
}
.tech:hover {
  cursor: default;
}
.menuItens {
  transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menuItens:hover {
  color: var(--fundo-btn);
}
.menuItens:active {
  color: var(--fundo-btn-active);
}

.about-me-section {
  border-color: var(--fundo-btn);
  box-shadow: -10px 0px 15px -5px var(--fundo-btn);
  animation: change-color-about-me linear;
  animation-timeline: view();
  animation-range: cover 0% cover 70%;
}
/*Estilos para dispositivos com largura mínima de 768px*/
@media (min-width: 768px) {
  .about-me-section {
    border-color: var(--fundo-btn);
    box-shadow: -10px 0px 15px -5px var(--fundo-btn);
    animation: none;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .about-me-section:hover {
    border-color: var(--brilho-hover);
    box-shadow: -10px 0px 15px -5px var(--brilho-hover);
  }
  .tech {
    background-color: var(--fundo-terciario);
    transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .tech:hover {
    background-color: var(--fundo-btn-hover);
    filter: drop-shadow(0px 0px 10px var(--fundo-btn));
    cursor: default;
  }
}
